.footer {
    background-color: #000;
    color: #FFF;

    .footer-links {
        a {
            display: block;
            margin-bottom: 0.5rem;
        }
        a:hover{
            text-decoration: none;
        }
    }

    #copyright {
        color: #868686;
    }
}
