<div class="footer">
    <div class="container">
        <div class="row pt-5 pb-4">
            <div class="col-12 footer-links">
                <a href="" [routerLink]="['/']">Home</a>
                <a href="" [routerLink]="['/trees']">Tree Information</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p id="copyright">&copy; <span>{{currentYear}}</span> Canopy Perspectives Tree Care LLC</p>
            </div>
        </div>
    </div>
</div>