<div class="main-section position-relative overflow-hidden p-md-6 text-center bg-light home-section">
    <div class="col-md-8 p-lg-5 mx-auto pt-6 pb-6 text-white">
        <h1 class="display-4 font-weight-normal pt-6 pb-6">Information About Your Trees <br/> (Brain Food)</h1>
    </div>
</div>

<div class="tree-section">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <p class="lg-padding">Unless you wish to develop a greenspace or have one in need of maintenance, I&#39;m not sure why else you
                    would be clicking around our site... but just in case there are lingering questions for our clients or lingering
                    questions for lingerers,  here is the tip of the iceberg for ya. Some tid bits of information we rummaged
                    together that may send you web surfers out to catch a tasty knowledge wave.</p>
            </div>
        </div>
    </div>
</div>

<div class="tree-section">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <h3>You have a tree</h3>
                <p class="pt-6 pb-6">TO-DO...</p>
            </div>
        </div>
    </div>
</div>


<div class="tree-section fungal-section">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <h3>Fungal associates</h3>
                <p class="pt-6 pb-6">TO-DO...</p>
            </div>
        </div>
    </div>
</div>

<div class="tree-section">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <h3>Resources</h3>
                <p class="pt-6 pb-6">TO-DO...</p>
            </div>
        </div>
    </div>
</div>