<nav class="navbar navbar-expand-lg navbar-light white shadow-sm rounded-bottom fixed-top">
    <a class="navbar-brand" href="" [routerLink]="['/']" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="scrollTop()">Canopy Perspectives Tree Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#about" [routerLink]="['/']" fragment="about" (click)="scroll('aboutSection')">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#stories" [routerLink]="['/']" fragment="stories" (click)="scroll('storiesSection')">Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#contact" [routerLink]="['/']" fragment="contact" (click)="scroll('contactSection')">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="" [routerLink]="['/trees']">Tree Information</a>
            </li>
        </ul>
    </div>
</nav>