<!--<div class="main-section position-relative overflow-hidden p-md-6 text-center bg-light home-section">
    <div class="col-md-8 p-lg-5 mx-auto my-5 text-white">
        <h1 class="display-4 font-weight-normal pb-3">Prunings, Removals & Plantings</h1>
        <p class="lead font-weight-normal pb-3">Our team works hard to provide intentional and science-based strategies to our work.</p>
        <a class="btn btn-outline-secondary get-quote-btn" href="#">GET A QUOTE</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>-->

<div class="home-section lg-padding primary-section bg-tan" id="pageStart">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4 font-weight-normal pb-3">Prunings, Removals & Plantings</h1>
                <p class="lead font-weight-normal pb-3">Our team works hard to provide intentional and science-based
                    strategies to our work.</p>
                <a class="btn btn-outline-secondary get-quote-btn pointer text-white"
                    (click)="scroll('contactSection')">GET A QUOTE</a>
            </div>
        </div>
    </div>
</div>


<div class="home-section">
    <div class="container pt-6 pb-6">
        <div class="row">
            <div class="col-md-7 text-center center">
                <h3 class="mb-4">Why Us?</h3>
                <p>We're re-envisioning the approach to tree care by combining dendrocentric and
                    community expectations. We commit to balancing the intersection between humankind and trees to
                    create a
                    safe, beneficial space for everyone.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="aboutSection">
    <div class="container pt-6 pb-6">
        <div class="row pb-4">
            <div class="col-12">
                <h3 class="mb-4">About</h3>
                <p>Dendrocentrism, we define, as an outlook on the world with the point of view centered around tree
                    species as a living, valuable entity. Although it is impossible to take away our human lens that we
                    perceive and personify the world around us, Canopy Perspectives Tree Care (CPTC) attempts to buffer
                    our biases with science.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4 class="mb-3"><i class="fas fa-tree"></i> Tree Care</h4>
                <p>We believe that all humans deserve access to a greenspace on the basis of health and safety. Over
                    time
                    when there is a tree in these spaces, maintenance is often imperative. Our team works hard to
                    provide
                    tree services no matter a client&#39;s neighborhood, income, or opportunity. We want to work with
                    you to
                    make your greenspace a safe part of your lifestyle.</p>
            </div>
            <div class="col-6">
                <h4 class="mb-3"><i class="fas fa-flask"></i> Science</h4>
                <p>Scientific research about our ecological communities (trees, us, fungus, plants, insects.. etc)
                    brings
                    category to a world that does not desire order. Although it can only help us to learn, and better
                    intentionally interact with the natural world, we hope to be able to choose the responsible options
                    for both
                    humans and trees.  Through attending seminars, webinars, and reading endless journal articles that
                    apply
                    to tree physiology, and urban trees we continue to grow our passion for the work of arboriculture.
                </p>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12">
                <p>If you desire creating a greenspace or notice your tree might pose a risk to your wellbeing
                    <a class="pointer active-link" (click)="scroll('contactSection')">contact us</a>! we will work with you
                    to develop a solution that fits your needs.</p>
            </div>
        </div>
    </div>
</div>

<!--<div class="home-section image-1 parallax"></div>-->

<div class="home-section bg-green">
    <div class="container pt-6 pb-6">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4">The Humans of Canopy Perspectives Tree Care</h3>
                <p class="lg-padding">TO-DO...</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="storiesSection">
    <div class="container pt-6 pb-6">
        <div class="row position-absolute pl-3">
            <h3 class="mb-4">Stories</h3>
        </div>
        <div class="row">
            <div class="col-3 d-flex">
                <div class="project-side-menu justify-content-center align-self-center">
                    <h4 *ngFor="let story of stories; index as i;"
                        (click)="selectStory(i)"
                        [ngClass]="{'active': story.navTitle === activeStory.navTitle}"
                        class="pointer mb-3">{{story.navTitle}}</h4>
                </div>
            </div>
            <div class="col-9 project-content">
                <div class="row">
                    <div class="col-4 img-wrapper pr-4">
                        <img *ngFor="let imgPath of activeStory.images" src="{{imgPath}}" />
                    </div>
                    <div class="col-8 pl-4">
                        <div>
                            <h1 class="mb-4">{{activeStory.title}}</h1>
                            <div [innerHTML]="activeStory.htmlText"></div>
                        </div>    
                    </div>
                </div>
                <div class="project-details">

                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="home-section image-2 parallax"></div>-->

<div class="home-section bg-gray" id="contactSection">
    <div class="container pt-6 pb-6">
        <div class="row pb-4">
            <div class="col-12">
                <h3 class="mb-4">Contact Us</h3>
                <p>Send us a message or call us and we'll quote you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pb-5">
                <form action="https://formspree.io/xoqkkjko" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="_replyto" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Send">Send</button>
                </form>
            </div>
            <div class="col-sm-4 offset-sm-1">
                <h5>Allie Vitello</h5>
                <p style="margin-bottom: .5rem">allie@canopyperspectives.com</p>
                <p>(541) 207-7505</p>
            </div>
        </div>
    </div>
</div>